/* .app-nav-accordion .mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.app-nav-accordion .mat-expansion-panel.mat-expansion-panel-spacing {
  margin: 0px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header {
  height: 40px;
  padding: 0px 24px 0px 16px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
} */