<mat-card-header>
  <mat-card-title>
    Statistical analysis
  </mat-card-title>
</mat-card-header>

<mat-nav-list>
  <ol>
    <li class="home active"><a routerLink="/">Home</a></li>
    <li class="active">Statistical analysis</li>
  </ol>
</mat-nav-list>



<!-- <div fxLayout="row">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-content>
        <ul>
          <li *ngFor="let file of files">
            <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            <span id="file-label"></span>
          </li>
          <br>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="onClick()">
          <mat-icon>file_upload</mat-icon>
          Upload
        </button>
      </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept=".xls, .xlsx"
      style="display:none;" />
    <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept=".xls, .xlsx"
      style="display:none;" />
  </div>
</div> -->



<div fxLayout="row">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-content>
        <h3>Under construction - coming soon!</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>