<h2 mat-dialog-title align="center">Reset your password</h2>
<form>
  <mat-label>Enter your email address and we will send you a new password.</mat-label>
  <br>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="username" type="email" autocomplete="off" required>
    <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="actions">
    <button fxFlex="100" mat-raised-button color="primary" (click)="reset()" [disabled]="!username.valid">Reset my
      password</button>
  </div>
  <div fxLayout="row">
    <mat-label [ngClass]="{
        'text-black': colorMessage ==='black',
        'text-green': colorMessage ==='green',
        'text-red': colorMessage ==='red',
        'text-blue': colorMessage ==='blue'
      }" *ngIf="messageShow">{{notification}}</mat-label>
  </div>

  <div class="actions" align="center">
    <mat-label>Not a user yet? </mat-label>
    <button mat-button color="primary" (click)="register()">Create an account</button>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</form>