.mat-card{
  padding:  12px !important;
  margin: 12px 0px;
  background-color: #dbdbdb;
}

.mat-card-header{
    justify-content: flex-end;
    padding: 0px;
  }

  .mat-card-content{
    padding: 0px 12px;
  }