/* bootstrap.css */
* {
    font-size: 14px;
    line-height: 1.42857143;
}

/* main-nav-bar */

.mat-toolbar.mat-primary {
    background: #869910 !important;
}

/* side-nav-bar */

#snav .mat-list-item.selected > .mat-list-item-content > a {
  background: #2187e5 !important;
} 

.mat-drawer {
  background-color: #343a40 !important;
}

#snav .mat-list-item .mat-list-item-content:hover > a {
  color: #fafafa !important;
} 

/* appearance-outline */

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important; 
}

.mat-form-field-wrapper {
  padding-bottom: 0.75em !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.75em 0 0.75em 0 !important;
}

.mat-form-field-infix {
  border-top: 0.5em solid transparent !important;
}

/* mat-card-title */
.mat-card-title{
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

/* bread-cums */

.mat-nav-list {
  margin: 0px 15px;
  padding: 0px;
}

.mat-nav-list > ol{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .25rem .50rem;
  margin: 0rem; 
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.mat-nav-list > ol > .home::before {
  padding-right: 0rem;
  content: "" !important;
}

.mat-nav-list > ol > li::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}

.mat-nav-list > ol > li{
  padding-left: .5rem;
}

.mat-nav-list > ol > li >a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* chip */

.mat-standard-chip {
  min-height: 27px !important;
}

.mat-chip {
  font-size: 12px !important;
}

/* drop-down-list icon */
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(-0%) !important;
}

/*padding tab reduce*/
.mat-tab-label {
  padding: 0 20px !important;
  min-width: 110px !important;
}
