/* You can add global styles to this file, and also import other style files */

/* bootstrap.css */
* {
    font-size: 14px;
    line-height: 1.42857143;
}

.mat-card-header-text {
    margin: 0 10px !important;
}
