<mat-card-header>
    <mat-card-title>
        AgroFIMS
    </mat-card-title>
</mat-card-header>

<mat-nav-list>
    <ol>
        <li class="home active"><a routerLink="/">Home</a></li>
    </ol>
</mat-nav-list>

<div fxLayout="row">
    <div fxFlex.gt-sm="100%">

        <mat-card>
            <mat-card-content>

                <p><img src="assets/img/banner_agrofims_v4.jpg" class="img-responsive" alt="Responsive image"></p>

                <p>The Agronomy Field Information Management System (AgroFIMS) allows users to create fieldbooks to
                    collect agronomic data that is already tied to a metadata standard (the <a
                        href="https://github.com/AgriculturalSemantics/cg-core" target="_blank">CG Core Metadata
                        Schema</a>, aligned
                    with the standard Dublin Core), and semantic standards like the <a
                        href="https://bigdata.cgiar.org/resources/agronomy-ontology/" target="_blank">Agronomy
                        Ontology</a> (AgrO),
                    generating data that is Findable, Accessible, Interoperable, and Reusable (FAIR) at collection.</p>

                <p>AgroFIMS therefore standardizes data collection and description for easy aggregation and
                    inter-linking across disparate datasets. By December 2020 you will be able to export the fieldbooks
                    you create to the Android-based <a href="http://www.kddart.org/kdsmart.html"
                        target="_blank">KDSmart</a> or <a
                        href="https://play.google.com/store/apps/details?id=com.fieldbook.tracker&hl=en_US&gl=US"
                        target="_blank">Field
                        Book</a> applications for data collection. Collected data can be imported back to AgroFIMS for
                    statistical analysis and reports.</p>

                <p align="center"><b>Watch this <a href="https://youtu.be/Abw8Kq_qP7E" target="_blank">short video</a>
                        that provides an
                        overview of AgroFIMS!</b></p>

                <p>We have also made available the Agronomy API or AgrAPI, which is a RESTful web service API
                    specification to enable access, exchange, and integration of agronomic data across systems and
                    applications. You can use the API to retrieve research management information, experimental designs,
                    crop measurements, and environmental variables from AgroFIMS. The AgrAPI blueprint can be
                    implemented in different programming languages. Currently, AgrAPI is implemented in the R
                    statistical programming language allowing you to analyze your data with the R statistical packages
                    and graphics of your choice.</p>

                <p>In 2021 AgroFIMS will allow you to set up agronomic survey questionnaires, for data collection via
                    ODK. It will also allow easy upload of your “born FAIR” data to Dataverse repository platforms with
                    Dublin Core-compliant metadata schemas.</p>

                <p>Funding for AgroFIMS was provided by the Bill and Melinda Gates Foundation’s Open Access, Open Data
                    Initiative, and the <a href="http://bigdata.cgiar.org/" target="_blank">CGIAR Platform for Big Data
                        in
                        Agriculture</a>. AgroFIMS is under <a
                        href="https://github.com/AGROFIMS/hagrofims/blob/master/LICENSE" target="_blank">GPL
                        license</a>.</p>

                <p>If you need support, please contact us at <a href="mailto:agrofims@cgiar.org">agrofims@cgiar.org</a>
                </p>

                <!-- <p>The Agronomy Field Information Management System (AgroFIMS) consists of modules that represent the
                    typical cycle of operations in agronomic trial management, and enables the creation of data
                    collection sheets using the same ontology-based set of variables, terminology, units and protocols,
                    hence generating FAIR data at collection.
                    AgroFIMS therefore:</p> -->

                <!-- <p>The Agronomy Field Information Management System (AgroFIMS) has been developed on CGIAR’s <a
                        href="https://research.cip.cgiar.org/gtdms/hidap/">HiDAP</a> (Highly-interactive Data Analysis
                    Platform created by CGIAR’s International Potato Center, <a
                        href="https://www.cgiar.org/research/center/cip/">CIP</a>). AgroFIMS draws fully on ontologies,
                    particularly the Agronomy Ontology and the Crop Ontology. It consists of modules that represent the
                    typical cycle of operations in agronomic trial management, and enables the creation of data
                    collection sheets using the same ontology-based set of variables, terminology, units and protocols.
                    AgroFIMS therefore:</p> -->
                <!-- <ul>
                    <li>Standardizes data collection and description for easy aggregation and inter-linking across
                        disparate datasets;</li>
                    <li>Allows easy integration with HiDAP breeding data, or any other ontology-based datasets;</li>
                    <li>Functions as a data staging repository, allowing data uploads with view/edit permissions;</li>
                    <li>Enables data quality checks, statistical analysis of the data collected, and the generation of
                        sophisticated statistics reports;</li>
                    <li>Aligns a priori with CGIAR’s CG Core metadata schema;</li>
                    <li>Enables easy upload to the institutional repositories, and much more.</li>
                </ul>
                <p>Funding for AgroFIMS was provided by the Bill and Melinda Gates Foundation’s Open Access, Open Data
                    Initiative, and the <a href="http://bigdata.cgiar.org/">CGIAR Big Data Platform</a>. AgroFIMS is
                    under <a href="https://github.com/AGROFIMS/hagrofims/blob/master/LICENSE">GPL license</a></p> -->
                <!-- <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="assets/img/BIG_DATA.png" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="assets/img/alliancef_banner.png" alt="Card image cap">
                            </div>
                            <div class="card ">
                                <img class="card-img-top" src="assets/img/CIPlogo_RGB.png" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="assets/img/IFPRI.jpg" alt="Card image cap">
                            </div>
                        </div> -->

            </mat-card-content>
        </mat-card>

    </div>
</div>