<mat-card-header>
    <mat-card-title>
        AgroFIMS
    </mat-card-title>
</mat-card-header>

<mat-nav-list>
    <ol>
        <li class="home active"><a routerLink="/">Home</a></li>
        <!-- <li class="active">test</li> -->
        <!-- <li class="inactive"><a href="#">Library</a></li>
        <li class="inactive"><a href="#">Books</a></li>
        <li class="inactive"><a href="#">Thriller</a></li>
        <li class="active">Data</li> -->
    </ol>
</mat-nav-list>

<div fxLayout="row">
    <div fxFlex.gt-sm="100%">

        <mat-card>
            <mat-card-content>

                <p><img src="assets/img/banner_agrofims_v3.jpg" class="img-responsive" alt="Responsive image"></p>

                <p>The Agronomy Field Information Management System (AgroFIMS) has been developed on CGIAR’s <a
                        href="https://research.cip.cgiar.org/gtdms/hidap/">HiDAP</a> (Highly-interactive Data Analysis
                    Platform created by CGIAR’s International Potato Center, <a
                        href="https://www.cgiar.org/research/center/cip/">CIP</a>). AgroFIMS draws fully on ontologies,
                    particularly the Agronomy Ontology and the Crop Ontology. It consists of modules that represent the
                    typical cycle of operations in agronomic trial management, and enables the creation of data
                    collection sheets using the same ontology-based set of variables, terminology, units and protocols.
                    AgroFIMS therefore:</p>
                <ul>
                    <li>Standardizes data collection and description for easy aggregation and inter-linking across
                        disparate datasets;</li>
                    <li>Allows easy integration with HiDAP breeding data, or any other ontology-based datasets;</li>
                    <li>Functions as a data staging repository, allowing data uploads with view/edit permissions;</li>
                    <li>Enables data quality checks, statistical analysis of the data collected, and the generation of
                        sophisticated statistics reports;</li>
                    <li>Aligns a priori with CGIAR’s CG Core metadata schema;</li>
                    <li>Enables easy upload to the institutional repositories, and much more.</li>
                </ul>
                <p>Funding for AgroFIMS was provided by the Bill and Melinda Gates Foundation’s Open Access, Open Data
                    Initiative, and the <a href="http://bigdata.cgiar.org/">CGIAR Big Data Platform</a>. AgroFIMS is
                    under <a href="https://github.com/AGROFIMS/hagrofims/blob/master/LICENSE">GPL license</a></p>
                <!-- <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="assets/img/BIG_DATA.png" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="assets/img/alliancef_banner.png" alt="Card image cap">
                            </div>
                            <div class="card ">
                                <img class="card-img-top" src="assets/img/CIPlogo_RGB.png" alt="Card image cap">
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="assets/img/IFPRI.jpg" alt="Card image cap">
                            </div>
                        </div> -->

            </mat-card-content>
        </mat-card>

    </div>
</div>